@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
body {
 background: linear-gradient(to left, #fff , #2c3e50);
}

.register-form {
  position: relative;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  min-width: 400px;
  max-width: 800px;
  width: 90vw;
}

form[name="register"] {
  width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 72px;
  text-align: center;
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 48px;
}

input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 30px 0px 20px 0px;
  outline: none;
    font-size: 1em;
  background:transparent;
  color:#000;
}
input:focus {
  border-bottom: 1px solid #333;
}

/*

*/

.material {
  position: relative;
  top: 30px;
}

.material-icons {
  position: absolute;
  right: 0;
}

.done {
  color: #4CAF50;
  display: none;
}

.error-i {
  color: #f44336;
  display: none;
}

.error {
  color: #f44336;
}

label {
  position: relative;
  top: 5px;
}

a {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 30px;
  color: #666;
}


/*.box{*/
/*
  position:absolute;
  height:50%;
  width:75%;
  font-family:Helvetica;
  color:#fff;
*/
/*  background:rgba(0,0,0,0.13);*/
/*  padding:30px 0px;*/
/*}*/

