body {
    margin: 5%;
    background: linear-gradient(to left, #fff, #2c3e50);
}

h3 {
    color: azure;
    text-align: center;
}


/*LABEL LOCATIN*/

label {
    width: 15%;
    margin: 0 auto;
}


/*END OF LABEL LOCATION*/


/*search box*/

.search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
}

.search-box + label .search-icon {
    color: black;
}

.search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
}

.search-box:hover + label .search-icon {
    color: white;
}

.search-box:focus {
    -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}

.search-box:focus + label .search-icon {
    color: black;
}

.search-box:not(:focus) {
    margin: 0 auto;
    text-indent: -5000px;
}

#search-submit {
    position: relative;
    left: -5000px;
}

.search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}


/*end of search box*/


/*google map code*/

#googleMap {
    width: 500px;
    height: 380px;
    margin: 0 auto;
}


/*end of google map*/


/*button img*/

img {
    height: 10%;
    width: 10%;
}

.next {
    float: right;
}


/*SKILLS.HTML FIELDSET SECTION*/

fieldset {
    width: 80%;
    margin: 1.25rem auto;
}


/*END OF FIELDSET SECTION*/


/*VIEW ANOTHER PROFILE*/


/*
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
}

h2,
h3 {
    font-size: 1.5rem;
}

h3 {
    margin-bottom: .5em;
}
*/

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    color: #0960a5;
}

ul {
    margin: 0;
    padding: 0;
}

ul.list-unstyled {
    list-style: none;
    list-position: outside;
}

ul {
    margin: 0;
    padding: 0;
}

ul.list-unstyled {
    list-style: none;
    list-position: outside;
}

hr {
    height: 0;
    box-sizing: content-box;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0;
    border-top: 1px solid #eee;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.cf:after {
    content: " ";
    display: table;
    height: 10px;
}

.share {
    color: #BBDEFB;
    transition: all 150ms ease-in-out;
}

.share:hover {
    color: #2196F3;
}

.alert {
    color: #E91E63;
    opacity: 0.5;
    transition: all 150ms ease-in-out;
}

.alert:hover {
    color: #E91E63;
    opacity: 1;
}

.card {
    max-width: 320px;
    margin: 1em auto 3em;
    border: 1px solid #d0cbca;
    background: #2196F3;
    transition: all 150ms ease-in-out;
}

.card:hover {
    background: #0960a5;
    border-color: #0960a5;
    box-shadow: 0 1px 40px rgba(0, 0, 0, 0.15);
}

.card header {
    text-align: center;
    padding: 1em;
    transition: all 150ms ease-in-out;
}

.card header h1,
.card header h2 {
    color: white;
    margin: 0;
    line-height: 1.25;
}

.card header h2 {
    margin-bottom: 1em;
}

.card header img.avatar {
    border-radius: 50%;
    height: auto;
    padding: 10px;
    max-width: 128px;
    transition: all 150ms ease-in-out;
    margin-bottom: -50px;
}

.card header img.avatar:hover {
    border-radius: 10%;
    padding: 10px;
}

.card header.header_hover {
    background: #0960a5;
}

.card header.header_hover img.avatar {
    background: #0960a5;
}

.card.card_hover {
    border-color: #0960a5;
}

article,
footer {
    background: #fff;
    padding: 1em;
}

article + footer {
    padding-top: 0;
}

footer.closure {
    text-align: center;
    font-size: 12px;
    color: #868686;
}

header img {
    width: 45%;
}

.lawns {
    text-align: center;
    padding-top: 5%;
}

p {
    padding-top: 5%;
    text-align: center;
}

.button.tiny {
    margin-left: 40%;
}


/*END OF VIEW ANOTHER PROFILE*/